{% extends "base.html.twig" %}

{% block title %}
    {% trans from 'account' %}
    account.create.title
    {% endtrans %}
{% endblock %}

{% block body %}

    <h1>
        {% trans from 'account' %}
        account.create.form.title
        {% endtrans %}
    </h1>
    <hr>
    {% include "account/_form.html.twig" %}
    
{% endblock %}