{% extends "base.html.twig" %}

{% block title %}
    Cadastro de conta - 
{% endblock %}

{% block body %}

    <h1>Cadastrar conta</h1>
    <hr>
    {% include "account/_form.html.twig" %}
    
{% endblock %}