{% extends "base.html.twig" %}

{% block title %}
    Edição de conta - 
{% endblock %}

{% block body %}

    <h1>Edição de conta - <small>{{ account.person.name }}</small></h1>
    <hr>
    {% include "account/_form.html.twig" %}
    
{% endblock %}