{% extends "base.html.twig" %}

{% block title %}
    Cadastro de movimentações - 
{% endblock %}

{% block body %}


    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <h1>Cadastrar movimentações</h1>
    <hr>
    {% include "transaction/_form.html.twig" %}

{% endblock %}