{% extends "base.html.twig" %}

{% block title %}
	{% trans from 'transaction' %}
	transaction.statement.title
	{% endtrans %}
{% endblock %}


{% block body %}

	<h2>
		{% trans with {
            '%name%': account.person.name, 
            '%cpf%': account.person.cpf 
        } from 'transaction' %}
		transaction.person.id
		{% endtrans %}
	</h2>
	<h3>
		{% trans with {
            '%number%': account.number, 
            '%balance%': account.balance | format_currency('BRL') 
        } from 'transaction' %}
		transaction.account.info
		{% endtrans %}
	</h3>

	{% if accountStatement is defined %}

		<br><br>
		<h4>
			{% trans from 'transaction' %}
			transaction.statement.table.title
			{% endtrans %}
		</h4>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>
						{% trans from 'transaction' %}
						transaction.statement.table.date-header
						{% endtrans %}
					</th>
					<th>
						{% trans from 'transaction' %}
						transaction.statement.table.operation-header
						{% endtrans %}
					</th>
					<th>
						{% trans from 'transaction' %}
						transaction.statement.table.values-header
						{% endtrans %}
					</th>
				</tr>
			</thead>
			<tbody>

				{% for record in accountStatement %}
					<tr>
						<td>{{ record.getCreatedAt | date('d-m-Y h:m:s') }}</td>
						<td>{{ record.action | trans({}, 'transaction') }}</td>
						<td>{{ record.value | format_currency('BRL') }}</td>
					</tr>
				{% endfor %}

				<tr>
					<td class="table-dark" colspan="2">
						{% trans from 'transaction' %}
						transaction.statement.footer.balance
						{% endtrans %}
					</td>
					<td class="table-dark">
						{{ balance | format_currency('BRL') }}
					</td>
				</tr>
			</tbody>
		</table>
	{% endif %}

{% endblock %}
