{% extends "base.html.twig" %}

{% block title %}
    Cadastro de pessoas - 
{% endblock %}

{% block body %}

    <h1>Cadastrar pessoa</h1>
    <hr>
    {% include "person/_form.html.twig" %}
    
{% endblock %}